

<h1><% content_for :title do %>
Foodlog &ndash; <%= DateTime.now.to_fs(:nice_date) %>
<% end %>
</h1>

<div class="columns mt-6 is-centered">
  <% @entries.each do |entry| %>
  <div class="column is-one-quarter">
  <div class="card">
  <div class="card-header">
    <p class="card-header-title"><%= entry.meal_type %> | <%= entry.category.title if entry.category.present? %> </p>
    </div>
    <div class="card-content">
    <div class="content">
    <p><span class="has-text-weight-bold"> <%= entry.calories %> </span> calories</p>
    <p><span class="has-text-weight-bold"> <%= entry.proteins %> </span> grams of proteins</p>
    <p><span class="has-text-weight-bold"> <%= entry.carbohydrates %> </span>grams of carbohydrates</p>
    <p><span class="has-text-weight-bold"> <%= entry.fats %> </span> grams of fats</p>
    <p class="is-italic">Logged <%= time_ago_in_words(entry.created_at) %> ago </p>
    </div>
    </div>
    <div class="card-footer">
      <%= link_to "Show", entry, class: "card-footer-item" %>
      <%= link_to "Edit", edit_entry_path(entry), class: "card-footer-item" %>
        <%= link_to "Delete", {:controller => :entries,
      :action => 'destroy', :id => entry.id }, :method => :delete, class: "is-link card-footer-item" %>
    </div>
    </div>
    </div>
  <% end %>
</div>

<div class="columns is-centered mt-6">
<%= link_to "View all entries", archives_index_path, class: "button is-link is-outlined is-centered" %>
</div>
</div>